<%- model_class = Anuncio -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>id</strong></dt>
  <dd><%= @anuncio.id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:titulo) %>:</strong></dt>
  <dd><%= @anuncio.titulo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:imagen) %>:</strong></dt>
  <dd><%= image_tag(@anuncio.imagen.url(:thumb))  %></dd>
  <dt><strong><%= model_class.human_attribute_name(:descripcion) %>:</strong></dt>
  <dd><%= @anuncio.descripcion %></dd>
  <dt><strong><%= model_class.human_attribute_name(:contenido) %>:</strong></dt>
  <dd><%= @anuncio.contenido %></dd>
  <dt><strong><%= model_class.human_attribute_name(:imagen1) %>:</strong></dt>
  <dd><%= image_tag(@anuncio.imagen1.url(:thumb)) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:imagen2) %>:</strong></dt>
  <dd><%= image_tag(@anuncio.imagen2.url(:thumb)) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:imagen3) %>:</strong></dt>
  <dd><%= image_tag(@anuncio.imagen3.url(:thumb)) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:imagen4) %>:</strong></dt>
  <dd><%= image_tag(@anuncio.imagen4.url(:thumb)) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:imagen5) %>:</strong></dt>
  <dd><%= image_tag(@anuncio.imagen5.url(:thumb)) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:visible) %>:</strong></dt>
  <dd><%= @anuncio.visible %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tipo) %>:</strong></dt>
  <dd><%= @anuncio.tipo %></dd>
</dl>

<%= link_to t('.Regresar', :default => t("helpers.links.Regresar")),
              anuncios_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.editar")),
              edit_anuncio_path(@anuncio), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.eliminar")),
              anuncio_path(@anuncio),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
