<ol class="breadcrumb">
  <li><a href="/inicios">Inicio</a></li>
  <li class="active">Anuncios</li>
</ol>

<h1>Anuncios <small>APERTAC</small></h1>
<hr />


	<% @anuncioses.each do |anunciose| %>
		<div class="media">
			<div class="media-left">
			    <a href="/inicios/anuncio/<%= anunciose.id %>">
			    	<%= image_tag anunciose.imagen.url(:thumb), class: 'media-object' %>
			    </a>
			</div>
			<div class="media-body">
			    <h4 class="media-heading">
			    	<a href="/inicios/anuncio/<%= anunciose.id %>">
			    		<%= anunciose.titulo %>
			    	</a>
			    </h4>
			    <p><%= anunciose.descripcion %></p>
			</div>
		</div>
	<% end %>



  




<%= will_paginate @anuncioses, renderer: BootstrapPagination::Rails %>

<br />

<%= link_to '<span class="glyphicon glyphicon-arrow-left"></span> Regresar'.html_safe, '/', class: 'btn btn-primary' %>