






<!-- Block Noticias -->
<h3>Noticias <small>Ultimos 5 publicados</small></h3>	
<hr />
<% @noticias.each do |noticia| %>	
	<h3><a href="/inicios/noticia/<%= noticia.id %>" title=""><%= noticia.titulo %></a></h3>		
	
	<%= image_tag noticia.imagen1.url(:thumb), class: 'img-thumbnail' %>
	<br />
	<br>
	<p class="lead"><%= noticia.resumen %></p>
	<p>
		<a href="/inicios/noticia/<%= noticia.id %>" class="btn btn-primary btn-sm">
			<span class="glyphicon glyphicon-file"></span>
			Leer mas..
		</a>
	</p>
	<hr /> 
	
<% end %>

