<!-- Block Anuncios -->
<div class="row">
	<div class="col-md-12">
	    <div class="panel with-nav-tabs panel-default">
	        <div class="panel-heading">
	                <ul class="nav nav-tabs">
		                <% index = 0 %>
		                <% @anuncios.each do |anuncio| %>
		                	<% if index == 0 %>
		                		<li class="active"><a href="#tab<%= anuncio.id %>default" data-toggle="tab">Anuncio<%= anuncio.id %></a></li>
		                	<%  else %>
		                		<li><a href="#tab<%= anuncio.id %>default" data-toggle="tab">Anuncio<%= anuncio.id %></a></li>
		                	<% end %>
		                	<% index = 1 %>
		                <% end %>	                    	                    
	                </ul>
	        </div>
	        <div class="panel-body">
	            <div class="tab-content">
	            	<% index = 0 %>
	                <% @anuncios.each do |anuncio| %>
	                	<% if index == 0 %>
	                		<div class="tab-pane fade in active" id="tab<%= anuncio.id %>default">
	                		<%= image_tag anuncio.imagen %>
	                		</div>
	                	<%  else %>
	                		<div class="tab-pane fade" id="tab<%= anuncio.id %>default"><%= image_tag anuncio.imagen %></div>
	                	<% end %>
	                	<% index = 1 %>
	                <% end %>	     
	            </div>
	        </div>
	    </div>
	</div>
</div>





<!-- Block Noticias -->
<h3>Noticias <small>Ultimos 5 publicados</small></h3>	
<% @noticias.each do |noticia| %>
	<div class="page-header">
		<h3><%= noticia.titulo %></h3>		
	</div>
	<%= image_tag noticia.imagen1.url(:thumb) %>
	<br />
	<p><%= noticia.resumen %></p>
	
<% end %>

