<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Apertac" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Apertac" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body id="fondo">
    <div class="container" id="contenedor">        
        <nav class="navbar navbar-inverse">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/admins/index">inicio</a>
              </div>
              <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">               
                    <li><a href="/noticias">Noticias</a></li>
                    <li><a href="/apertac_paginas">Apertac Paginas</a></li>
                    <li><a href="/directorios">Directorio</a></li>

                    <li><a href="/convocatorias">Convocatorias</a></li>
                    <li><a href="/presidentes">Presidente</a></li>
                    <li><a href="/documentos">Documentos</a></li>
                    <li><a href="/anuncios">Anuncios</a></li>
                    <li><a href="/webamigas">Web Amigas</a></li>
                    <li><a href="/contactenos">Contacto</a></li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                  <li>
                    <a href="/">
                        <span class="glyphicon glyphicon-lock"></span>
                        Ver sitio
                    </a></li>
                </ul>
              </div><!--/.nav-collapse -->
            </div>
        </nav>

        <%= yield %> 

    </div>    
  </body>
</html>
