<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Apertac" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Apertac" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body id="fondo">
    <div class="container" id="contenedor">
        <%= image_tag'portico_apertac.png' %>
        <br />
        <br />
        <br />
        <br />

        <div class="row">
            <!-- Columna Izquierda -->
            <div class="col-lg-3">
              
              
            </div>            


            <!-- Columna Central -->
            <div class="col-lg-6">
                <%= yield %>
            </div>


            <!-- Columna Derecha  -->
            <div class="col-lg-3"> 
              

            </div>


        </div>

      <footer>
        <hr />
        Apertac 2015 -2016
      </footer>
    </div>    
  </body>
</html>
